<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Crop Doctor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Work+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">

 <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/css/animate.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">



    <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="/css/aos.css">

    <link rel="stylesheet" href="/css/style.css">



  </head>
  <body style="background-image: url('/images/medical-background.jpg');">

  <div class="site-wrap">



    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->


    <% include ../partials/navbar.ejs %>


    <h2>Edit Message</h2>
    <div class="py-5 bg-light">
      <div class="container">
        <div class="row">

          <div class="col-md-12 col-lg-8 mb-5">



           <form action="/messages/<%= message.id %>/update" method="post">

              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label for="name">Full Name</label>
                  <input value="<%= message.name %>"  type="text" class="form-control" name="name" placeholder="Enter Name">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label for="email">Email</label>
                  <input value="<%= message.email %>"  type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                  <small class="text-muted" id="emailHelp">email address must be a valid address</small>
                </div>
              </div>


              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label for="phone">Phone</label>
                    <input value="<%= message.phone %>"  type="tel"  class="form-control" name="phone" placeholder="Phone #">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label for="content">Message</label>
                  <textarea name="content"  cols="30" rows="5" class="form-control" placeholder="Send us a message"><%= message.content %></textarea>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label for="notes">Notes</label>
                  <textarea name="notes"  cols="30" rows="5" class="form-control" placeholder="Add Notes"><%= message.notes %></textarea>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Update" class="btn btn-primary text-white px-4 py-2">
                </div>
              </div>


            </form>
          </div>

          <div class="col-lg-4">
            <div class="p-4 mb-3 bg-white">
              <h3 class="h5 text-black mb-3">Contact Info</h3>
              <p class="mb-0 font-weight-bold">Address</p>
              <p class="mb-4">203 Fake St. Mountain View, San Francisco, California, USA</p>

              <p class="mb-0 font-weight-bold">Phone</p>
              <p class="mb-4"><a href="#">+1 232 3235 324</a></p>

              <p class="mb-0 font-weight-bold">Email Address</p>
              <p class="mb-0"><a href="#">youremail@domain.com</a></p>

            </div>


          </div>
        </div>
      </div>
    </div>

    <div class="site-section block-14 nav-direction-white">

      <div class="container">

        <div class="row mb-5">
          <div class="col-md-12">
            <h2 class="site-section-heading text-center text-uppercase">Testimonies</h2>
          </div>
        </div>

        <div class="nonloop-block-14 owl-carousel">

          <div class="p-5">
            <div class="d-block block-testimony w-75 mx-auto text-center">
              <div class="person w-25 mx-auto mb-4">
                <img src="/images/person_1.jpg" alt="Image" class="img-fluid rounded-circle">
              </div>
              <div>
                <h2 class="h5 mb-4">Katie Johnson</h2>
                <blockquote>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias accusantium qui optio, possimus necessitatibus voluptate aliquam velit nostrum tempora ipsam!&rdquo;</blockquote>
              </div>
            </div>
          </div>
          <div class="p-5">
            <div class="d-block block-testimony w-75 mx-auto text-center">
              <div class="person w-25 mx-auto mb-4">
                <img src="/images/person_2.jpg" alt="Image" class="img-fluid rounded-circle">
              </div>
              <div>
                <h2 class="h5 mb-4">Jun Mars</h2>
                <blockquote>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias accusantium qui optio, possimus necessitatibus voluptate aliquam velit nostrum tempora ipsam!&rdquo;</blockquote>
              </div>
            </div>
          </div>
          <div class="p-5">
            <div class="d-block block-testimony w-75 mx-auto text-center">
              <div class="person w-25 mx-auto mb-4">
                <img src="/images/person_3.jpg" alt="Image" class="img-fluid rounded-circle">
              </div>
              <div>
                <h2 class="h5 mb-4">Shane Holmes</h2>
                <blockquote>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias accusantium qui optio, possimus necessitatibus voluptate aliquam velit nostrum tempora ipsam!&rdquo;</blockquote>
              </div>
            </div>
          </div>
          <div class="p-5">
            <div class="d-block block-testimony w-75 mx-auto text-center">
              <div class="person w-25 mx-auto mb-4">
                <img src="/images/person_4.jpg" alt="Image" class="img-fluid rounded-circle">
              </div>
              <div>
                <h2 class="h5 mb-4">Mark Johnson</h2>
                <blockquote>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias accusantium qui optio, possimus necessitatibus voluptate aliquam velit nostrum tempora ipsam!&rdquo;</blockquote>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
    </div>

    <% include ../partials/footer.ejs %>

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.stellar.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/bootstrap-datepicker.min.js"></script>
    <script src="/js/aos.js"></script>

    <script src="/js/main.js"></script>

  </body>
</html>
